@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.navbar {
    border-radius: 0;
}

.invalid-message {
    color: #dc3545;
}

.is-invalid {
    border-color: #dc3545;
}

.pointer {
    cursor: pointer;
}