<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TODO With Auth</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="isAuthenticated">
        <a>Welcome, {{username}}</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a (click)="logout()">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </li>

      <li *ngIf="!isAuthenticated">
        <a routerLink="/login" routerLinkActive="active">
          <span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
      <li *ngIf="!isAuthenticated">

        <a routerLink="/signup" routerLinkActive="active">
          <span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>

    </ul>
  </div>
</nav>
